body {
  background-color: rgb(250, 250, 250);
}

h1::selection {
  background: #87FFD9;
}

h2::selection {
  background: #87FFD9;
}

h3::selection {
  background: #87FFD9;
}

a::selection {
  background: #87FFD9;
}

p::selection {
  background: #87FFD9;
}

.main {
  margin-top: 40px;
  position: relative;
  text-align: right;
}

.main h1 {
  font-weight: 600;
}

.main a {
  display: inline-block;
}

.main h3 {
  /* text-align: right; */
}

nav {
  margin: 0;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

.link {
  padding: 12px 16px 12px 16px;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 20px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-weight: 500;
  font-size: 20px;
  margin-top: 8px;
  color: #4E4E50;
  font-size: 20px;
  font-family: "Rubik";
  display: block;
  text-decoration: none;
}

.link:hover {
  background-color: #f0f0f0;
  color: #000;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a .logo-img {
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.bitmoji {
  position: absolute;
}

.bitmoji img {
  float: left;
  height: 80%;
  width: 80%;
}

@media (max-width: 1000px) {
  .bitmoji img {
    display: none;
  }
}

nav {
  margin: 0;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a .logo-img {
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
}

.link {
  padding: 12px 16px 12px 16px;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 20px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  font-weight: 500;
  font-size: 20px;
  margin-top: 8px;
  color: #4E4E50;
  font-size: 20px;
  font-family: "Rubik";
  display: block;
  text-decoration: none;
}

.link:hover {
  background-color: #f0f0f0;
  color: #000;
  text-decoration: none;
}

.mail-link {
  font-size: 20px;
  font-weight: 500;
  font-family: "Rubik";
  color: #404040;
}

.top {
  height: 80vh;
  vertical-align: middle;
  display: table-cell;
  scroll-behavior: smooth;
}

.top h1 {
  font-size: 100px;
  font-weight: 700;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

.top h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 500;
  color: #4E4E50;
  font-family: 'Rubik', sans-serif;
}

.top h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin-bottom: 100px;
  font-family: 'Rubik', sans-serif;
}

.inner-top {
  display: inline-block;
}

.top-button-primary {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  padding: 14px 24px 14px 24px;
  background-color: #0095FF;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  border-radius: 10px;
  margin-right: 20px;
}

.top-button-primary:hover {
  text-decoration: none;
  color: #FFF;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.top-button-secondary {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #000;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 14px 24px 14px 24px;
  margin-bottom: 100px;
}

.top-button-secondary:hover {
  text-decoration: none;
  color: #000;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.section {
  justify-content: center;
  scroll-behavior: smooth;
}

.section h2 {
  padding-top: 50px;
  font-size: 50px;
  font-weight: 600;
  font-color: #107FFF;
  font-family: "Helvetica";
}



/* nav ul li a .logo-img {
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
} */
.content {
  margin-top: 24px;
  padding: 0;
  list-style-type: none;
}

.content-item {
  height: 80px;
}

.content-item h3 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Rubik";
}

.content-item a {
  color: #0095FF;
}

.content-item a:hover {
  text-decoration: none;
}

.content-item p {
  margin: 0;
  margin-bottom: 24px;
  font-size: 20px;
  font-family: "IBM PLEX SANS";
}

.content-icon {
  float: left;
  margin-right: 20px;
}

.content-text {

}

.content-item img {
  vertical-align: center;
  height: 50px;
}

.contact {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  border-width: 5px;
  border-color: #000;
}

.contact h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact a {
  font-size: 20px;
}

.footer {
  border-top: 1px solid #515151;
}

.copyright {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: 500;
  color: #515151;
}

.copyright a {
  color: #515151;
}

.ml-auto {
  margin-top: 20px;
}

.ml-auto a {
  padding-right: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #515151;
  margin-right: 10px;
}

.ml-auto p {
  display: inline;
  font-size: 20px;
}

#facebook:hover {
  color: #155BE7;
}

#instagram:hover {
  color: #9F00BB;
}

#github:hover {
  color: #000000;
}

#linkedin:hover {
  color: #0E5C9E;
}
